
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="gioithieu">
        <h1>Giới thiệu về BICYCLE</h1>
        <h3>[BICYCLE] – Lời đầu tiên chúng tôi xin phép được gửi tới Quý khách hàng lời chúc tốt đẹp nhất. Xin chân thành cảm ơn Quý khách hàng đã ghé thăm website và tin dùng sản phẩm của chúng tôi.</h3>
        <p class="mota">Công Ty TNHH Thương Mại Và Dịch Vụ BICYCLE chuyên phân phối các dòng xe đạp thể thao thương hiệu nổi tiếng thế giới. Với mẫu mã đa dạng: Twitter, Motachie, Furious, XDS, Giant, Forward, Nakxus, Galaxy, Audi, BMW, Cadillac, Lamborghini, Porsche, Ferrari… và linh phụ kiện chính hãng… được nhập khẩu trực tiếp và là nhà phân phối chính thức của hãng tại Việt Nam. Đến với chúng tôi Quý khách hàng sẽ hài lòng về chất lượng sản phẩm, mẫu mã đa dạng và phù hợp với mọi lứa tuổi, mọi phong cách. Chúng tôi tin tưởng rằng xe đạp thể thao sẽ là sự lựa chọn thông minh nhất cho Quý khách hàng không chỉ trong hiện tại mà còn trong tương lai.</p>
        <div class="logoBICYCLE">
            <img src="~/assets/client/images/logoBICYCLE.jpg" alt="hinh-anh-logo">
        </div>
        <p>Với phương châm luôn luôn vì khách hàng và hướng tới dịch vụ vàng. Chúng tôi luôn sẵn sàng phục vụ quý khách. Dịch vụ bảo hành và bảo trì luôn được chúng tôi quan tâm và cam kết thực hiện. Chúng tôi luôn mong muốn được hợp tác với quý khách là các đại lý, nhà phân phối và quý khách tiêu dùng trên toàn quốc.</p>
        <br>
        <p>Để chiêm ngưỡng và chạy thử các loại xe, xin quý khách đừng ngần ngại hãy đến với phòng trưng bày sản phẩm của chúng tôi tại <b>75 Xuân Hồng, TP.HCM</b> hoặc liên hệ trực tiếp với chúng tôi để nhận được tư vấn tốt nhất.</p>
        <br>
        <p><b>Phương châm:</b> Công Ty TNHH Thương Mại Và Dịch Vụ BICYCLE cam đoan luôn bán sản phẩm đúng chất lượng. Với mức giá thấp nhất đến người tiêu dùng.</p>
        <br>
        <p><b>Xin chân thành cảm ơn sự quan tâm của quý khách!</b></p>
    </div>
</div>



